.gradle-local/
.gradle-user/
.android-home/
.gradle-home/
ft8cn/.gradle/
ft8cn/.gradle-user/
ft8cn/build/
ft8cn/app/build/
ft8cn/local.properties
ft8cn/.android-home/
.idea/
*.iml
*.apk
ft8cn/keystore.properties
ft8cn/*.jks
ft8cn/*.keystore
/.vs
